<h1>Cocktails</h1>

<div class="container">
  <% @cocktails.each do |cocktail| %>
    
    <div class="card-category mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </div>



  <% end %>
</div>




<!-- <% @cocktails.each do |cocktail| %>
<h2><%= cocktail.name %></h2>
<%end %>
<%= link_to "Add a Cocktail", new_cocktail_path %> --> 